<%-include('navBarHead')%>
<title>Cart | Reptiles "r" Us</title>

<!-- <body class="bg-gray-100 p-8"> -->
    <div class="max-w-4xl mx-auto">
        <% cart.forEach((item,index) => { %>
            <div id="product<%= item.ProductID %>" class="bg-white rounded-lg shadow-md mb-4 p-4" style="display: grid; grid-template-rows: 1fr; grid-template-columns: 1fr 1fr 1fr; justify-items: center; align-items: center;">
                <p class="text-xl font-semibold"><%= index+1 %>. <%= item.ProdName %></p>
                <ul class="mt-2">
                    <li class="text-gray-700">Quantity:
                        <button class="px-2 py-1 border border-gray-300 rounded-md mr-2" onclick="decreaseQuantity(<%=item.ProductID%>)">-</button>
                        <input type="number" value="<%= Math.max(item.quantity, 0) %>" min="0" class="w-16 text-center" id="<%= item.ProductID %>" onchange="updateQuantity(<%=item.ProductID%>)">
                        <button class="px-2 py-1 border border-gray-300 rounded-md ml-2" onclick="increaseQuantity(<%=item.ProductID%>)">+</button>
                    </li>
                    <li class="text-gray-700">Price: $<%= item.ProdPrice.toFixed(2) %></li>
                </ul>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="removeFromCart(<%=item.ProductID%>)">Remove</button>
            </div>
        <% }) %>
        <div style="display: flex; justify-content: space-between; margin-bottom: 16px; margin-top: 16px;">
            <a href="/emptyCart">
                <button type="submit"  class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Empty Cart</button>
            </a>
            <form>
                <% if (cart.length > 0) { %>
                <button type="button" onclick="placeOrder()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="width: 115px;">Pay</button>
                <% } else { %>
                <br><br>
                <p>There are no items in your cart.</p>
                <br><br>
                <button type="button" class="bg-gray-300 text-gray-600 font-bold py-2 px-4 rounded cursor-not-allowed" disabled style="width: 115px;">Pay</button>
                <% } %>
            </form>
        </div>

    <script>
        function increaseQuantity(prodID) {
            const inputElement = document.getElementById(prodID);
            let quant = parseInt(inputElement.value);
            quant++;
            inputElement.value = quant;
            updateBackend(prodID,quant)
        }

        function decreaseQuantity(prodID) {
            const inputElement = document.getElementById(prodID);
            let quant = parseInt(inputElement.value);
            if (quant > 1) {
                quant--;
                inputElement.value = quant;
                // You may want to update the quantity in the backend as well
            }
            updateBackend(prodID,quant)
        }

        function updateQuantity(prodID, quant){
            const inputElement = document.getElementById(prodID);
            let quantity = parseInt(inputElement.value);
            if(quantity <= 0){
                inputElement.value = 0;
            }
            updateBackend(prodID, quantity)
        }

        function removeFromCart(prodId){
            const productDiv = document.getElementById('product' + prodId);

            // Hide the div by setting its display property to 'none'
            productDiv.style.display = 'none';
            updateBackend(prodId, 0)
        }
        function updateBackend(itemId, quantity){
            var xhr = new XMLHttpRequest();

            // Define the request method and URL
            xhr.open("POST", "/updateCart", true);

            // Set the request header
            xhr.setRequestHeader("Content-Type", "application/json");


            // Define the data to be sent in JSON format
            var data = JSON.stringify({ itemId: itemId, quantity: quantity });

            // Define the callback function to handle the response
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log("Cart updated");
                    location.reload();
                } else {
                    console.error("Failed to add product to cart:", xhr.statusText);
                }
            };

            // Send the request with the data
            xhr.send(data);
        }

        function placeOrder() {
            console.log('hello');
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/pay", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            
            // Define the callback function to handle the response
            xhr.onload = function() {
                alert(xhr.responseText);
                console.log(xhr.responseText);
                location.reload();
            }

            // Send the request
            xhr.send();
        }
    </script>
</body>

</html>