<%- include('navBarHead') %>
<title>Product Listing</title>

<div class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-8">Product Listing</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <% products.forEach(product => { %>
                <div class="bg-white p-6 rounded-md shadow-md">
                    <a href="/product/<%= product.ProductID %>" class="hover:no-underline">
                        <h2 class="text-xl font-semibold mb-4"><%= product.ProdName %></h2>
                        <p class="text-gray-700 mb-4"><%= product.ProdDesc %></p>
                        <p class="text-gray-800 font-bold">Price: $<%= product.ProdPrice.toFixed(2) %></p>
                    </a>
                    <!-- Add Button -->
                    <button onclick="addToCartFunction('<%= product.ProductID %>')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Add
                    </button>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        function addToCartFunction(productId) {
            // Create a new XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Define the request method and URL
            xhr.open("POST", "/addToCart", true);

            // Set the request header
            xhr.setRequestHeader("Content-Type", "application/json");


            // Define the data to be sent in JSON format
            var data = JSON.stringify({ productId: productId });

            // Define the callback function to handle the response
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log("Product added to cart successfully!");
                } else {
                    window.location.href = "/login"
                    console.error("Failed to add product to cart:", xhr.statusText);
                }
            };

            // Send the request with the data
            xhr.send(data);
        }
    </script>
</div>

</body>
</html>